<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddogring.homepage.mapper.DiaryMapper">
  <resultMap id="BaseResultMap" type="com.ddogring.homepage.model.Diary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="record_time" jdbcType="DATE" property="recordTime" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="upd_time" jdbcType="DATE" property="updTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ddogring.homepage.model.Diary">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, record_time, create_time, upd_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_diary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_diary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ddogring.homepage.model.Diary">
    insert into t_diary (id, record_time, create_time, 
      upd_time, content)
    values (#{id,jdbcType=INTEGER}, #{recordTime,jdbcType=DATE}, #{createTime,jdbcType=DATE}, 
      #{updTime,jdbcType=DATE}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ddogring.homepage.model.Diary">
    insert into t_diary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=DATE},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddogring.homepage.model.Diary">
    update t_diary
    <set>
      <if test="recordTime != null">
        record_time = #{recordTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=DATE},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ddogring.homepage.model.Diary">
    update t_diary
    set record_time = #{recordTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE},
      upd_time = #{updTime,jdbcType=DATE},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddogring.homepage.model.Diary">
    update t_diary
    set record_time = #{recordTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE},
      upd_time = #{updTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>